body {
  background-color: #FAF8EF;
  display: flex;
  justify-content: center;
  width: 500px;
  margin: auto;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.game-name {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 500px;
  align-items: center;
}

.game-name h1 {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #776E65;
  display: block;

}

.game-name div {
  display: block;
}

.score-container, .best-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #bbada0;
  padding: 15px 25px;
  height: 75px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
}

.score-container span, .best-container span {
  font-size: 13px;
}

#new-game {
  font-size: 20px;
  background-color: #8F7A66;
  color: white;
  font-family: inherit;
  border-style: solid;
  border-radius: 5px;
  border: 2px solid #8F7A66;
  padding: 5px 20px 5px 20px;
  height: 40px;
  text-align: center;
}

#new-game:hover {
  cursor: pointer;
}

#new-game:focus {
  outline: none;
}

#score, #best {
  font-size: 25px;
}

.above-game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #776e65;
}

.game-board {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 500px;
  padding: 15px;
  margin: 40px auto 0 auto;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #BBADA0;
}

.row {
  margin-bottom: 15px;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  box-sizing: border-box;
  float: left;
  display: block;
  border-radius: 3px;
  background-color: #CDC1B4;
  text-align: center;
  line-height: 106.25px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 55px;
  font-weight: bold;
}

.cell:last-child {
  margin-right: 0;
}

.game-rules, .credit {
  color: #776e65;
  margin-top: 50px;
  font-size: 18px;
  line-height: 1.65;
}

.credit a {
  text-decoration: none;
}

hr {
  width: 500px;
  border-bottom: 1px;
  margin: 30px 0 40px 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
  margin-bottom: 20px;
}

footer a {
  text-decoration: none;
}

div[data-value="2"] {
  background-color: #EEE4DA;
  color: #776E65;
}

div[data-value="4"] {
  background-color: #EDE0C8;
  color: #776E65;
}

div[data-value="8"] {
  background-color: #F2B179;
  color: #F9F6F2;
}

div[data-value="16"] {
  background-color: #F59563;
  color: #F9F6F2;
}

div[data-value="32"] {
  background-color: #F67C5F;
  color: #F9F6F2;
}

div[data-value="64"] {
  background-color: #F65E3B;
  color: #F9F6F2;
}

div[data-value="128"] {
  background-color: #EDCC61;
  color: #F9F6F2;
  font-size: 45px;
}

div[data-value="256"] {
  background-color: #EDCC61;
  color: #F9F6F2;
  font-size: 45px;
}

div[data-value="512"] {
  background-color: #EDCC61;
  color: #F9F6F2;
  font-size: 45px;
}

div[data-value="1024"] {
  background-color: #EDCC61;
  color: #F9F6F2;
  font-size: 45px;
}

div[data-value="2048"] {
  background-color: #EDCC61;
  color: #F9F6F2;
  font-size: 45px;
}

/*div[data-value="4096"] {
  background-color:
  color:
}*/
